

body {
    font-family: 'Poppins', cursive;
    background-color: rgba(255, 183, 0, 0.737);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.936);
    border-radius: 10px;
    height: 90px;

    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.logo h1 {
    font-size: 32px;
    font-family: 'Pacifico', cursive !important;
    letter-spacing: 2px;
    word-spacing: 5px;
}

nav{
    display: flex;
    gap: 1px;
    margin-right: 50px;
}
nav a {
    padding: 10px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.459);
    border-radius: 8px;
}

.awal {
    text-align: center;
    background: rgba(255, 255, 255, 0.651);
    margin: 30px auto;
    border-radius: 15px;
    width: 80%;
    padding: 50px 40px;
    margin-bottom: 150px;
}

.awal hr {
    border: none;
    height: 1.5px;
    background-color: black;
    margin: auto;
    width: 50%;
}

.awal button {
    padding: 10px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.awal button:hover {
    transform: scale(1.05);
}

.awal a {
    text-decoration: none;
    color: black;
}

.tentang {
    text-align: center;
    margin-bottom: 250px;
}

.tentang hr {
    border: none;
    height: 1.5px;
    background-color: black;
    margin: auto;
    width: 50%;
}

.tentang p {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
}

.menurisol {
    background: rgba(255, 255, 255, 0.724);
    margin: 15px auto;
    width: 80%;
    border-radius: 15px;
    padding: 20px 50px;
    margin-bottom: 200px;

}
.menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 350px));
    justify-content: center;
    gap: 50px;
}

.judulmenu {
    text-align: center;
    margin-bottom: 20px;
}

.cardmenu {
    border: 1px solid black;
    border-radius: 15px;
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    background-color: wheat;
    
}

.cardmenu:hover {
    transform: translateY(-3px) scale(1.05);
}

.cardmenu h3 {
    text-align: center;
}

.cardmenu img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.cardcontent {
    padding: 20px;
    border-top: 1px solid black;
    padding-top: 15px;
    margin-top: 10px;
    text-align: center;
    flex: 1;
}

.bestseller {
    margin-bottom: 150px;
}
.bestjudul {
    text-align: center;
}

.bestjudul hr {
    width: 50%;
    height: 1.5px;
    border: none;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 30px;
}

.bestcard {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

footer {
    text-align: center;
}
footer hr {
    width: 90%;
    height: 1px;
    background-color: black;
    border: none;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .logo{
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-right: 0;
        justify-content: center;
        flex-wrap: wrap;
    }

    .menu {
        grid-template-columns: 1fr;
    }

    .cardmenu {
        width: 100%;
        max-width: 350px;
        margin: auto;
    }

    .bestcard {
        flex-direction: column;
        align-items: center;
    }

    
}