body {
    background-color: beige;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.936);
    border-radius: 10px;
    height: 90px;

    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
}

.logo h1 {
    font-size: 32px;
    font-family: 'Pacifico', cursive !important;
    letter-spacing: 2px;
    word-spacing: 5px;
}

nav{
    display: flex;
    gap: 1px;
    margin-right: 50px;
}
nav a {
    padding: 10px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.459);
    border-radius: 8px;
}

.pesan{
    width: 70%;
    max-width: 500px;
    margin: 20px 20px;
}

.pesan h2 {
    margin-bottom: 25px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.data label {
    margin-bottom: 0.5px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    gap: 15px;
}

input {
    padding: 10px;
    border: none ;
    font-family: inherit;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.347);
}

textarea{
    padding: 25px;
    border: 1px solid black;
    font-family: inherit;

}
.produk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(255, 2555, 255, 0.7);
    font-weight: bold;
}

button:hover {
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    header {
        height: auto;
        padding: 20px;
    }

    .logo{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .logo img {
        width: 60px;
        height: 60px;
    }

    .logo h1 {
        font-size: 28px;
        margin: 0;
    }

    nav {
        margin-right: 0;
        justify-content: center;
        flex-wrap: wrap;
    }

    .pesan {
        width: 95%;
        padding: 15px;
    }

    .produk {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .button {
        width: 90%;
    }
}